.content {
  display: flex;
  flex-direction: column;
}

.offers {
  display: flex;
  padding: 16px;
  align-items: center;
}

.offersTitle {
  display: grid;
  font-size: 24px;
  line-height: normal;
  grid-template-rows: 2em 1em 2em;
  grid-template-columns: 3em 2em 3em;
}

.title1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.offersImg {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.title2 {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.offersItems {
  display: flex;
  padding: 16px;
  gap: 24px;
  border-radius: 8px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(34, 195, 255, 0.14) 0%,
    rgba(54, 183, 231, 0.11) 73.05%,
    rgba(86, 177, 211, 0) 100%
  );
}

.breakline {
  background-color: #256c87;
  height: 81px;
  width: 1px;
}

.offersItem {
  display: grid;
  align-self: self-start;
  grid-template-columns: 6em 5em 5em;
}

.itemTitle {
  grid-column: 1 / span 2;
  grid-row: 1 span / 2;
  font-weight: 700;
}

.itemImg {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.itemDesc {
  grid-column: 1 / span 3;
  grid-row: 3;
}

@media screen and (max-width: 1150px) {
  .offers {
    flex-direction: column;
  }

  .offersTitle {
    display: flex;
    gap: 7px;
    margin-bottom: 40px;
  }

  .offersImg {
    display: none;
  }

  .offersItem {
    grid-template-columns: 4em 4em 4em;
  }
}

@media screen and (max-width: 650px) {
  .offersTitle {
    font-size: 20px;
  }

  .offersItems {
    flex-direction: column;
  }

  .offersItem {
    grid-template-columns: 6em 6em 6em;
  }

  .breakline {
    height: 1px;
    width: 81px;
  }
}
