@use "../../assets/css/base.scss";

.calc-category {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  padding: 20px 0 20px 0;
  background-color: rgba(86, 177, 211, 0.1);
}

.calc-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #000000;
  cursor: pointer;
  font-size: 18px;
}

.calc-btn.active {
  color: base.$primary;
  background-color: transparent;
}

@media screen and (max-width: 650px) {
  .calc-category {
    flex-direction: column;
    gap: 10px;
  }
}
